<!DOCTYPE html>
<html>
  <head>
    <title>CompreFacil.com</title>
    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  </head>
  <body>
    <% include navbar %>

    <p>Seu carrinho:</p>
    <ul>
      <% var total_price = 0; %>
      <% products.forEach(function(product) { %>
        <li>
          <%= product.quantity + ' x ' + product.name + ' = ' %>
          <%= 'R$' + product.quantity * product.pricePerUnit %>
          <% total_price += product.quantity * product.pricePerUnit; %>
        </li>
      <% }); %>
    </ul>
    <p>Total: <%= 'R$' + total_price %></p>
    <% if (!purchase) { %>
      <p><a href="<%= '/cart/' + cart_id + '/buy' %>">Prosseguir</a></p>
    <% } else { %>
      <p>Compra efetuada em: <%= purchase.createdAt %></p>
      <p>Método de pagamento: <%= purchase.get('method') %></p>
    <% } %>
  </body>
</html>
